@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span, p {
    font-family: 'Rubik' ,Arial, Helvetica, sans-serif;
}

body {
    background-color: #ececec;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#banner {
    position: relative;
    width: 300px;
    height: 600px;
    background-color: #fff;

    border: 1px solid #DCDCDC;
    overflow: hidden;
}

#banner #cover {
    position: relative;
    top: 600px;
    left: 0;
    width: 300px;
    height: 0px;

    background-color: #fbd915;

    animation: 4s linear goUp;
}

@keyframes goUp {
    0% {
        top: 600px;
        height: 600px;
    }
    
    20% {
        top: 0px;
    }

    85% {
        top: 0px;
        height: 600px;
    }
  
    100% {
        top: 0px;
        height: 0px;
    }
}

/* Content */
#slider {
    /* position: relative; */
    display: flex;
    border: 1px solid #DCDCDC;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#slider .slide {
    min-width: 300px;
    min-height: 600px;

    background-color: #fff;

    display: flex;
    overflow: hidden;
}

#slider .slide img {
    transform: scale(1.1);
    object-fit: cover;
    width: 300px;
    height: 600px;

    animation: 12s linear zoomIn;
    animation-delay: 3s;
    opacity: 0;
}

@keyframes zoomIn {
    0% {
      transform: scale(1);
      opacity: 1;
    }
  
    95% {
        transform: scale(1.8);
        opacity: 1;
    }
  
    97% {
        transform: scale(1.8);
        opacity: 0;
    }

    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}

#slider .slide p {
    text-align: center;
    font-size: 12px;
    font-family: 'Rubik' ,Arial, Helvetica, sans-serif;
}

#slider .slide p.price {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 40px;
}

.cta-button {
    width: 100px;
    height: 30px;
    color: #fff;
    background-color: #ff0000;
    border: none
}

/* Brand */
#brand {
    position: absolute;
    top: 5%;
    left: 105px;
    transform: translate(-50%, -50%);

    width: 135px;
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fbd915;
    animation: 3s linear logoIn;
}

@keyframes logoIn {
    0%, 50% {
        top: 50%;
        left: -70px;
    }
  
    70%, 90% {
        top: 50%;
        left: 105px;
    }

    100% {
        top: 5%;
        left: 105px;
    }
}

#brand img {
    width: 100px;
}

/* Price */
#price {
    z-index: 200;
    position: absolute;
    bottom: 122px;
    right: 90px;

    color: #fbd915;

    overflow: hidden;
}

#price p {
    font-size: 15px;

    position: relative;
    bottom: -45px;

    animation: 3.5s linear 3 priceInOut;
    animation-delay: 4s;
}

#price #price-value {
    font-weight: bold;
    font-size: 25px;
}

@keyframes priceInOut {
    0% {
        bottom: -45px;
    }

    20%, 80% {
        bottom: 0px;
    }

    100% {
        bottom: 45px;
    }
}

/* CTA */
#cta {
    z-index: 200;
    position: absolute;
    bottom: 75px;
    right: 50px;
    background-color: #fff;

    width: 145px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-family: 'Rubik' ,Arial, Helvetica, sans-serif;
    font-size: 15px;

    animation: 5s linear ctaIn;
}
#cta img {
    margin-left: 10px;
}

@keyframes ctaIn {
    0%, 90% {
        right: -150px;
    }

    100% {
        right: 50px;
    }
}

#cta-line {
    position: absolute;
    bottom: 96px;
    left: 45px;
    z-index: 250;

    background-color: #fbd915;

    height: 3px;
    width: 74px;

    animation: 5s linear lineIn;
}

@keyframes lineIn {
    0%, 90% {
        width: 0px;
    }

    100% {
        width: 74px;
    }
}